includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Console/Kernel.php
    parallel:
        maximumNumberOfProcesses: 1
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Relation.*utilisateur.*is not found in App.*Models.*Conge#'
